<div class="col-md-4">
  <!-- general form elements -->
  <md-card>
    <md-card-content>
      <section>
        <md-checkbox [(ngModel)]="apple" (change)="changed('apple', apple)">apple</md-checkbox>
        <md-checkbox [(ngModel)]="android" (change)="changed('android', android)">android</md-checkbox>
        <md-checkbox [(ngModel)]="site" (change)="changed('site', site)">site</md-checkbox>
      </section>

      <!--CRÉATION D’APPLICATION MOBILE-->
      <md-input-container>
        <input (keyup)="changed('total_ht1', $event.target.value)" mdInput placeholder="total_ht1">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="partenaire_checkbox" (change)="changed('partenaire_checkbox', partenaire_checkbox)">partenaire_checkbox</md-checkbox>
        <md-checkbox [(ngModel)]="engagement_de_coup_de_fil" (change)="changed('engagement_de_coup_de_fil', engagement_de_coup_de_fil)">engagement_de_coup_de_fil</md-checkbox>
        <md-checkbox [(ngModel)]="lettre_dor_utilisateurs" (change)="changed('lettre_dor_utilisateurs', lettre_dor_utilisateurs)">lettre_dor_utilisateurs</md-checkbox>
        <md-checkbox [(ngModel)]="autorisation_interview_reportage" (change)="changed('autorisation_interview_reportage', autorisation_interview_reportage)">autorisation_interview_reportage</md-checkbox>
        <md-checkbox [(ngModel)]="confidentialite_conditions" (change)="changed('confidentialite_conditions', confidentialite_conditions)">confidentialite_conditions</md-checkbox>
      </section>

      <!--// HÉBERGEMENT ET MAINTENANCE-->
      <md-input-container>
        <input (keyup)="changed('total_ht2', $event.target.value)" mdInput placeholder="total_ht2">
      </md-input-container>


    </md-card-content>
  </md-card>
</div>

<div class="col-md-4">
  <!— general form elements —>
  <md-card>
    <md-card-content>

      <md-input-container>
        <input (keyup)="changed('date', $event.target.value)" mdInput placeholder="date">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('dossier_de_partenariat', $event.target.value)" mdInput placeholder="dossier_de_partenariat">
      </md-input-container>

      <!--// Cahier des charges-->
      <md-input-container>
        <input (keyup)="changed('raison_sociale', $event.target.value)" mdInput placeholder="raison_sociale">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('nom_de_l_application', $event.target.value)" mdInput placeholder="nom_de_l_application">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('representee_par', $event.target.value)" mdInput placeholder="representee_par">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('fonction', $event.target.value)" mdInput placeholder="fonction">
      </md-input-container>




    </md-card-content>
  </md-card>
</div>

<div class="col-md-4">
  <!— general form elements —>
  <md-card>
    <md-card-content>
      <md-input-container>
        <input (keyup)="changed('adresse', $event.target.value)" mdInput placeholder="adresse">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('code_postal', $event.target.value)" mdInput placeholder="code_postal">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('ville', $event.target.value)" mdInput placeholder="ville">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('telephone', $event.target.value)" mdInput placeholder="telephone">
      </md-input-container>


      <md-input-container>
        <input (keyup)="changed('email', $event.target.value)" mdInput placeholder="email">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('site_internet', $event.target.value)" mdInput placeholder="site_internet">
      </md-input-container>
    </md-card-content>
  </md-card>
</div>
