<div class="col-md-5">
  <!— general form elements —>
  <md-card>
    <md-card-content>
      <md-input-container>
        <input (keyup)="changed('iban', $event.target.value)" mdInput placeholder="iban">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('bic', $event.target.value)" mdInput placeholder="bic">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('tiers_debiteur', $event.target.value)" mdInput placeholder="tiers_debiteur">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('a', $event.target.value)" mdInput placeholder="a">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('le', $event.target.value)" mdInput placeholder="le">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('rum', $event.target.value)" mdInput placeholder="rum">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('cis', $event.target.value)" mdInput placeholder="cis">
      </md-input-container>
    </md-card-content>
  </md-card>
</div>
