<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="" class="logo">
      <img src="../assets/dist/img/0.png" alt="User Image">
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Admin Panel</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Admin</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href=""><i class="fa fa-edit"></i> <span>Créer un compte client</span></a></li>
        <!-- Создать учетную запись -->
        <li><a href="liste-des-clients.html"><i class="fa fa-list"></i> <span>Liste des clients</span></a></li>
        <!-- Список клиентов -->
        <!--<li><a href="gestion_des_builds.html"><i class="fa fa-file-text-o"></i> <span>Gestion des builds</span></a></li>  Управление строит -->
        <li><a href="#"><i class="fa fa-book"></i> <span>FAQ</span></a></li> <!-- FAQ -->
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        CREATION D'UN COMPTE CLIENT
        <small>AppsPro+</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Créer un compte client</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <form>

        <div class="row">
          <div class="col-md-12">
            <ul class="timeline">
              <!-- timeline time label -->
              <li class="time-label">
                    <span class="bg-orange">
                        Input your Informations personnelles
                    </span>
              </li>
              <li class="time-label">
                <i class="fa fa-user bg-orange"></i>
                <div class="timeline-item">
                  <div class="col-ms-12 pad">
                    <squeezebox [multiple]="false">
                      <sb-item>
                        <sb-item-head>Title 1</sb-item-head>
                        <sb-item-body>
                          <app-pdf-1 [(form1)]="form1"></app-pdf-1>
                        </sb-item-body>
                      </sb-item>
                      <sb-item>
                        <sb-item-head>Title 2</sb-item-head>
                        <sb-item-body>
                          <app-pdf-2 [(form2)]="form2"></app-pdf-2>
                        </sb-item-body>
                      </sb-item>
                      <sb-item>
                        <sb-item-head>Title 3</sb-item-head>
                        <sb-item-body>
                          <app-pdf-3 [(form3)]="form3"></app-pdf-3>
                        </sb-item-body>
                      </sb-item>
                      <sb-item>
                        <sb-item-head>Title 4</sb-item-head>
                        <sb-item-body>
                          <app-pdf-4 [(form4)]="form4"></app-pdf-4>
                        </sb-item-body>
                      </sb-item>
                      <sb-item>
                        <sb-item-head>Title 5</sb-item-head>
                        <sb-item-body>
                          <app-pdf-5 [(form5)]="form5"></app-pdf-5>
                        </sb-item-body>
                      </sb-item>
                    </squeezebox>
                  </div>
                </div>
              </li>
              <li class="time-label">
                    <span class="bg-purple">
                        Input Société
                    </span>
              </li>
              <li>
                <i class="fa fa-user bg-aqua"></i>

                <div class="timeline-item">
                  <h3 class="timeline-header no-border"><a>Well done!</a> Accept your design</h3>
                  <div class="timeline-footer">
                    <div class="box-footer">
                      <input type="submit" id="btnSubmit" class="btn btn-lg btn-success" (click)="download()"/>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <i class="fa fa-thumbs-o-up bg-gray"></i>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright © 2017 <a>APPS PRO +</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
