<div class="col-md-6">
  <!— general form elements —>
  <md-card>
    <md-card-content>

      <section>
        <md-checkbox [(ngModel)]="apple" (change)="changed('apple', apple)">APPLE</md-checkbox>
        <md-checkbox [(ngModel)]="android" (change)="changed('android', android)">ANDROID</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('nom_prenom_du_contact', $event.target.value)" mdInput placeholder="nom_prenom_du_contact">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('numero_de_portable', $event.target.value)" mdInput placeholder="numero_de_portable">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('numero_de_fixe', $event.target.value)" mdInput placeholder="numero_de_fixe">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('mail_ce_mail_recevra_les_demandes_faites_via_lapplication', $event.target.value)" mdInput placeholder="mail_ce_mail_recevra_les_demandes_faites_via_lapplication">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('site_internet', $event.target.value)" mdInput placeholder="site_internet">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="cochez_cette_case_sil_ny_a_pas_de_site_web" (change)="changed('cochez_cette_case_sil_ny_a_pas_de_site_web', cochez_cette_case_sil_ny_a_pas_de_site_web)">cochez_cette_case_sil_ny_a_pas_de_site_web</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('adresses_facebook', $event.target.value)" mdInput placeholder="adresses_facebook">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('twitter', $event.target.value)" mdInput placeholder="twitter">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('pinterest', $event.target.value)" mdInput placeholder="pinterest">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('google_plus', $event.target.value)" mdInput placeholder="google_plus">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('instagram', $event.target.value)" mdInput placeholder="instagram">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('tripadvisor', $event.target.value)" mdInput placeholder="tripadvisor">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('nom_de_lapplication', $event.target.value)" mdInput placeholder="nom_de_lapplication">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('mots_cles', $event.target.value)" mdInput placeholder="mots_cles">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="copier_la_charte_graphique_du_site_web" (change)="changed('copier_la_charte_graphique_du_site_web', copier_la_charte_graphique_du_site_web)">copier_la_charte_graphique_du_site_web</md-checkbox>
        <md-checkbox [(ngModel)]="copier_la_charte_graphique_du_flyer" (change)="changed('copier_la_charte_graphique_du_flyer', copier_la_charte_graphique_du_flyer)">copier_la_charte_graphique_du_flyer</md-checkbox>
        <md-checkbox [(ngModel)]="copier_la_charte_graphique_du_carte_de_visite" (change)="changed('copier_la_charte_graphique_du_carte_de_visite', copier_la_charte_graphique_du_carte_de_visite)">copier_la_charte_graphique_du_carte_de_visite</md-checkbox>
      </section>



      <md-input-container>
        <input (keyup)="changed('couleur_1_1', $event.target.value)" mdInput placeholder="couleur_1_1">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('couleur_1_2', $event.target.value)" mdInput placeholder="couleur_1_2">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('couleur_1_3', $event.target.value)" mdInput placeholder="couleur_1_3">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('couleur_1_4', $event.target.value)" mdInput placeholder="couleur_1_4">
      </md-input-container>



      <md-input-container>
        <input (keyup)="changed('couleur_2_1', $event.target.value)" mdInput placeholder="couleur_2_1">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('couleur_2_2', $event.target.value)" mdInput placeholder="couleur_2_2">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('couleur_2_3', $event.target.value)" mdInput placeholder="couleur_2_3">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('couleur_2_4', $event.target.value)" mdInput placeholder="couleur_2_4">
      </md-input-container>



      <md-input-container>
        <input (keyup)="changed('couleur_3_1', $event.target.value)" mdInput placeholder="couleur_3_1">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('couleur_3_2', $event.target.value)" mdInput placeholder="couleur_3_2">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('couleur_3_3', $event.target.value)" mdInput placeholder="couleur_3_3">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('couleur_3_4', $event.target.value)" mdInput placeholder="couleur_3_4">
      </md-input-container>

      <section>
      <md-checkbox [(ngModel)]="reprendre_le_logo_du_site_web" (change)="changed('reprendre_le_logo_du_site_web', reprendre_le_logo_du_site_web)">reprendre_le_logo_du_site_web</md-checkbox>
      <md-checkbox [(ngModel)]="reprendre_le_logo_du_flyer" (change)="changed('reprendre_le_logo_du_flyer', reprendre_le_logo_du_flyer)">reprendre_le_logo_du_flyer</md-checkbox>
      <md-checkbox [(ngModel)]="reprendre_le_logo_du_carte_de_visite" (change)="changed('reprendre_le_logo_du_carte_de_visite', reprendre_le_logo_du_carte_de_visite)">reprendre_le_logo_du_carte_de_visite</md-checkbox>
    </section>

      <md-input-container>
        <textarea (keyup)="changed('creer_un_logo', $event.target.value)" mdInput placeholder="creer_un_logo"></textarea>
      </md-input-container>

      <md-input-container>
        <textarea (keyup)="changed('fonds_decrans', $event.target.value)" mdInput placeholder="fonds_decrans"></textarea>
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('nom_de_la_les_typographies_a_utiliser', $event.target.value)" mdInput placeholder="nom_de_la_les_typographies_a_utiliser">
      </md-input-container>

      <md-input-container>
        <textarea (keyup)="changed('remarques', $event.target.value)" mdInput placeholder="remarques"></textarea>
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="copier_le_contenu_et_lorganisation_du_site_web_flyers_checkbox" (change)="changed('copier_le_contenu_et_lorganisation_du_site_web_flyers_checkbox', copier_le_contenu_et_lorganisation_du_site_web_flyers_checkbox)">copier_le_contenu_et_lorganisation_du_site_web_flyers_checkbox</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('copier_le_contenu_et_lorganisation_du_site_web_flyers_field', $event.target.value)" mdInput placeholder="copier_le_contenu_et_lorganisation_du_site_web_flyers_field">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="flyers_push_checkbox" (change)="changed('flyers_push_checkbox', flyers_push_checkbox)">flyers_push_checkbox</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('flyers_push_field', $event.target.value)" mdInput placeholder="flyers_push_field">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="news_push_checkbox" (change)="changed('news_push_checkbox', news_push_checkbox)">news_push_checkbox</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('news_push_field', $event.target.value)" mdInput placeholder="news_push_field">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="photos_a_nous_fournir_checkbox" (change)="changed('photos_a_nous_fournir_checkbox', photos_a_nous_fournir_checkbox)">photos_a_nous_fournir_checkbox</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('photos_a_nous_fournir_field', $event.target.value)" mdInput placeholder="photos_a_nous_fournir_field">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="videos_hebergees_sur_youtube_checkbox" (change)="changed('videos_hebergees_sur_youtube_checkbox', videos_hebergees_sur_youtube_checkbox)">videos_hebergees_sur_youtube_checkbox</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('videos_hebergees_sur_youtube_field', $event.target.value)" mdInput placeholder="videos_hebergees_sur_youtube_field">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="module_type_produits_checkbox1" (change)="changed('module_type_produits_checkbox1', module_type_produits_checkbox1)">module_type_produits_checkbox1</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('module_type_produits_field1', $event.target.value)" mdInput placeholder="module_type_produits_field1">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="module_type_produits_checkbox2" (change)="changed('module_type_produits_checkbox2', module_type_produits_checkbox2)">module_type_produits_checkbox2</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('module_type_produits_field2', $event.target.value)" mdInput placeholder="module_type_produits_field2">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="module_type_produits_checkbox3" (change)="changed('module_type_produits_checkbox3', module_type_produits_checkbox3)">module_type_produits_checkbox3</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('module_type_produits_field3', $event.target.value)" mdInput placeholder="module_type_produits_field3">
      </md-input-container>


      <!---->
      <section>
        <md-checkbox [(ngModel)]="panier" (change)="changed('panier', panier)">panier</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('compte_paypal', $event.target.value)" mdInput placeholder="compte_paypal">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="activer_livraison" (change)="changed('activer_livraison', activer_livraison)">activer_livraison</md-checkbox>
        <md-checkbox [(ngModel)]="avec_paiement_en_ligne" (change)="changed('avec_paiement_en_ligne', avec_paiement_en_ligne)">avec_paiement_en_ligne</md-checkbox>
        <md-checkbox [(ngModel)]="avec_paiement_a_la_livraison" (change)="changed('avec_paiement_a_la_livraison', avec_paiement_a_la_livraison)">avec_paiement_a_la_livraison</md-checkbox>
        <md-checkbox [(ngModel)]="accepter_cb" (change)="changed('accepter_cb', accepter_cb)">accepter_cb</md-checkbox>
        <md-checkbox [(ngModel)]="accepter_cheques" (change)="changed('accepter_cheques', accepter_cheques)">accepter_cheques</md-checkbox>
        <md-checkbox [(ngModel)]="accepter_tr" (change)="changed('accepter_tr', accepter_tr)">accepter_tr</md-checkbox>
        <md-checkbox [(ngModel)]="accepter_especes" (change)="changed('accepter_especes', accepter_especes)">accepter_especes</md-checkbox>
      </section>



    </md-card-content>
  </md-card>
</div>


<div class="col-md-6">
  <md-card>
    <md-card-content>

      <section>
        <md-checkbox [(ngModel)]="frais_de_livraison_checkbox" (change)="changed('frais_de_livraison_checkbox', frais_de_livraison_checkbox)">frais_de_livraison_checkbox</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('frais_de_livraison_field', $event.target.value)" mdInput placeholder="frais_de_livraison_field">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('pour_letranger_europe', $event.target.value)" mdInput placeholder="pour_letranger_europe">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('pour_letranger_reste_du_monde', $event.target.value)" mdInput placeholder="pour_letranger_reste_du_monde">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="minimum_de_commande_checkbox" (change)="changed('minimum_de_commande_checkbox', minimum_de_commande_checkbox)">minimum_de_commande_checkbox</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('minimum_de_commande_field', $event.target.value)" mdInput placeholder="minimum_de_commande_field">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="minimum_a_partir_duquel_les_frais_de_livraison_sont_gratuits_checkbox" (change)="changed('minimum_a_partir_duquel_les_frais_de_livraison_sont_gratuits_checkbox', minimum_a_partir_duquel_les_frais_de_livraison_sont_gratuits_checkbox)">minimum_a_partir_duquel_les_frais_de_livraison_sont_gratuits_checkbox</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('minimum_a_partir_duquel_les_frais_de_livraison_sont_gratuits_field', $event.target.value)" mdInput placeholder="minimum_a_partir_duquel_les_frais_de_livraison_sont_gratuits_field">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="activer_la_possiblite_detre_livre_des_que_possible" (change)="changed('activer_la_possiblite_detre_livre_des_que_possible', activer_la_possiblite_detre_livre_des_que_possible)">activer_la_possiblite_detre_livre_des_que_possible</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('horaires_de_livraisons', $event.target.value)" mdInput placeholder="horaires_de_livraisons">
      </md-input-container>



      <section>
        <md-checkbox [(ngModel)]="activer_le_retrait_sur_place" (change)="changed('activer_le_retrait_sur_place', activer_le_retrait_sur_place)">activer_le_retrait_sur_place</md-checkbox>
        <md-checkbox [(ngModel)]="avec_paiement_en_ligne2" (change)="changed('avec_paiement_en_ligne2', avec_paiement_en_ligne2)">avec_paiement_en_ligne2</md-checkbox>
        <md-checkbox [(ngModel)]="avec_paiement_sur_place" (change)="changed('avec_paiement_sur_place', avec_paiement_sur_place)">avec_paiement_sur_place</md-checkbox>
        <md-checkbox [(ngModel)]="avec_paiement_sur_place_accepter_cb" (change)="changed('avec_paiement_sur_place_accepter_cb', avec_paiement_sur_place_accepter_cb)">avec_paiement_sur_place_accepter_cb</md-checkbox>
        <md-checkbox [(ngModel)]="avec_paiement_sur_place_accepter_cheques" (change)="changed('avec_paiement_sur_place_accepter_cheques', avec_paiement_sur_place_accepter_cheques)">avec_paiement_sur_place_accepter_cheques</md-checkbox>
        <md-checkbox [(ngModel)]="avec_paiement_sur_place_accepter_tr" (change)="changed('avec_paiement_sur_place_accepter_tr', avec_paiement_sur_place_accepter_tr)">avec_paiement_sur_place_accepter_tr</md-checkbox>
        <md-checkbox [(ngModel)]="avec_paiement_sur_place_accepter_especes" (change)="changed('avec_paiement_sur_place_accepter_especes', avec_paiement_sur_place_accepter_especes)">avec_paiement_sur_place_accepter_especes</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('horaires_de_douvertures', $event.target.value)" mdInput placeholder="horaires_de_douvertures">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="visite_virtuelle_checkbox" (change)="changed('visite_virtuelle_checkbox', visite_virtuelle_checkbox)">visite_virtuelle_checkbox</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('visite_virtuelle_field', $event.target.value)" mdInput placeholder="visite_virtuelle_field">
      </md-input-container>

      <!--infos contacts-->
      <section>
        <md-checkbox [(ngModel)]="infos_contact_checkbox" (change)="changed('infos_contact_checkbox', infos_contact_checkbox)">infos_contact_checkbox</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('infos_contact_field', $event.target.value)" mdInput placeholder="infos_contact_field">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="formulaires_reservations" (change)="changed('formulaires_reservations', formulaires_reservations)">formulaires_reservations</md-checkbox>
        <md-checkbox [(ngModel)]="formulaires_devis" (change)="changed('formulaires_devis', formulaires_devis)">formulaires_devis</md-checkbox>
        <md-checkbox [(ngModel)]="formulaires_rdv" (change)="changed('formulaires_rdv', formulaires_rdv)">formulaires_rdv</md-checkbox>
        <md-checkbox [(ngModel)]="formulaires_contact" (change)="changed('formulaires_contact', formulaires_contact)">formulaires_contact</md-checkbox>
      </section>

      <section>
        <md-checkbox [(ngModel)]="formulaires_empty_checkbox1" (change)="changed('formulaires_empty_checkbox1', formulaires_empty_checkbox1)">formulaires_empty_checkbox1</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('formulaires_empty_field1', $event.target.value)" mdInput placeholder="formulaires_empty_field1">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="formulaires_empty_checkbox2" (change)="changed('formulaires_empty_checkbox2', formulaires_empty_checkbox2)">formulaires_empty_checkbox2</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('formulaires_empty_field2', $event.target.value)" mdInput placeholder="formulaires_empty_field2">
      </md-input-container>

      <!--Horaries-->
      <md-input-container>
        <textarea (keyup)="changed('horaires_douverture', $event.target.value)" mdInput placeholder="horaires_douverture"></textarea>
      </md-input-container>


      <section>
        <md-checkbox [(ngModel)]="module_de_type_texte_checkbox1" (change)="changed('module_de_type_texte_checkbox1', module_de_type_texte_checkbox1)">module_de_type_texte_checkbox1</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('module_de_type_texte_string1', $event.target.value)" mdInput placeholder="module_de_type_texte_string1">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="module_de_type_texte_checkbox2" (change)="changed('module_de_type_texte_checkbox2', module_de_type_texte_checkbox2)">module_de_type_texte_checkbox2</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('module_de_type_texte_string2', $event.target.value)" mdInput placeholder="module_de_type_texte_string2">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="module_de_type_texte_checkbox3" (change)="changed('module_de_type_texte_checkbox3', module_de_type_texte_checkbox3)">module_de_type_texte_checkbox3</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('module_de_type_texte_string3', $event.target.value)" mdInput placeholder="module_de_type_texte_string3">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="compte_client" (change)="changed('compte_client', compte_client)">compte_client</md-checkbox>
        <md-checkbox [(ngModel)]="compte_client_inscription_optionnelle" (change)="changed('compte_client_inscription_optionnelle', compte_client_inscription_optionnelle)">compte_client_inscription_optionnelle</md-checkbox>
        <md-checkbox [(ngModel)]="compte_client_inscription_obligatoire" (change)="changed('compte_client_inscription_obligatoire', compte_client_inscription_obligatoire)">compte_client_inscription_obligatoire</md-checkbox>
        <md-checkbox [(ngModel)]="compte_client_acces_prive" (change)="changed('compte_client_acces_prive', compte_client_acces_prive)">compte_client_acces_prive</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('nous_fournir_les_cgv', $event.target.value)" mdInput placeholder="nous_fournir_les_cgv">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="geoloc_adresse_checkbox" (change)="changed('geoloc_adresse_checkbox', geoloc_adresse_checkbox)">geoloc_adresse_checkbox</md-checkbox>
      </section>

      <md-input-container>
        <input (keyup)="changed('geoloc_adresse_field', $event.target.value)" mdInput placeholder="geoloc_adresse_field">
      </md-input-container>

      <!--Avis-->
      <section>
        <md-checkbox [(ngModel)]="avis" (change)="changed('avis', avis)">avis</md-checkbox>
      </section>

      <section>
        <md-checkbox [(ngModel)]="site_e_commerce" (change)="changed('site_e_commerce', site_e_commerce)">site_e_commerce</md-checkbox>
        <md-checkbox [(ngModel)]="site_vitrine" (change)="changed('site_vitrine', site_vitrine)">site_vitrine</md-checkbox>
      </section>

      <!--Choix1,2,3-->
      <md-input-container>
        <input (keyup)="changed('nom_de_domaine_choix1', $event.target.value)" mdInput placeholder="nom_de_domaine_choix1">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('nom_de_domaine_choix2', $event.target.value)" mdInput placeholder="nom_de_domaine_choix2">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('nom_de_domaine_choix3', $event.target.value)" mdInput placeholder="nom_de_domaine_choix3">
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="integrer_les_memes_modules_que_lapplication" (change)="changed('integrer_les_memes_modules_que_lapplication', integrer_les_memes_modules_que_lapplication)">integrer_les_memes_modules_que_lapplication</md-checkbox>
      </section>

      <!--Remarques-->
      <md-input-container>
        <input (keyup)="changed('remarques2', $event.target.value)" mdInput placeholder="remarques2">
      </md-input-container>

      <!--Le Client-->
      <table class="example-full-width" cellspacing="0"><tr>
        <td><md-input-container class="example-full-width">
          <input (keyup)="changed('client_le1', $event.target.value)" mdInput placeholder="client_le1">
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
          <input (keyup)="changed('client_le2', $event.target.value)" mdInput placeholder="client_le2">
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
          <input (keyup)="changed('client_le3', $event.target.value)" mdInput placeholder="client_le3">
        </md-input-container></td>
      </tr></table>
      <md-input-container>
        <input (keyup)="changed('client_signataire', $event.target.value)" mdInput placeholder="client_signataire">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('client_qualite', $event.target.value)" mdInput placeholder="client_qualite">
      </md-input-container>

      <!--La Society-->
      <table class="example-full-width" cellspacing="0"><tr>
        <td><md-input-container class="example-full-width">
          <input (keyup)="changed('societe_le2', $event.target.value)" mdInput placeholder="societe_le1">
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
          <input (keyup)="changed('client_qualite', $event.target.value)" mdInput placeholder="Le 2">
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
          <input (keyup)="changed('societe_le3', $event.target.value)" mdInput placeholder="societe_le3">
        </md-input-container></td>
      </tr></table>
      <md-input-container>
        <input (keyup)="changed('societe_signataire', $event.target.value)" mdInput placeholder="societe_signataire">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('societe_qualite', $event.target.value)" mdInput placeholder="societe_qualite">
      </md-input-container>

    </md-card-content>
  </md-card>
</div>
