<div class="col-md-3">
  <!-- general form elements -->
  <md-card>
    <md-card-content>
      <md-input-container>
        <input (keyup)="changed('raison_sociale', $event.target.value)" mdInput placeholder="Raison sociale">
      </md-input-container>

      <md-input-container>
        <textarea (keyup)="changed('adresse', $event.target.value)" mdInput placeholder="Adresse"></textarea>
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('code_postal', $event.target.value)" mdInput placeholder="Code postal">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('ville', $event.target.value)" mdInput placeholder="Ville">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('tel', $event.target.value)" mdInput placeholder="tel">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('fax', $event.target.value)" mdInput placeholder="fax">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('mail', $event.target.value)" mdInput placeholder="mail">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('site', $event.target.value)" mdInput placeholder="site">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('siret', $event.target.value)" mdInput placeholder="siret">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('interlocuteur', $event.target.value)" mdInput placeholder="interlocuteur">
      </md-input-container>

    </md-card-content>
  </md-card>
</div>

<div class="col-md-6">
  <!— general form elements —>
  <md-card>
    <md-card-content>
      <md-input-container>
        <textarea (keyup)="changed('applications_mobile', $event.target.value)" mdInput placeholder="applications_mobile"></textarea>
      </md-input-container>
      <md-input-container>
        <textarea (keyup)="changed('sites_web', $event.target.value)" mdInput placeholder="sites_web"></textarea>
      </md-input-container>

      <section>
        <md-checkbox [(ngModel)]="apple" (change)="changed('apple', apple)">APPLE</md-checkbox>
        <md-checkbox [(ngModel)]="android" (change)="changed('android', android)">ANDROID</md-checkbox>
      </section>
      <md-input-container>
        <input (keyup)="changed('nomblre_de_mensualites', $event.target.value)" mdInput placeholder="nomblre_de_mensualites">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('montant', $event.target.value)" mdInput placeholder="montant">
      </md-input-container>

      <md-input-container>
        <textarea (keyup)="changed('montant2', $event.target.value)" mdInput placeholder="montant2"></textarea>
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('tva', $event.target.value)" mdInput placeholder="tva">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('tva2', $event.target.value)" mdInput placeholder="tva2">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('ttc', $event.target.value)" mdInput placeholder="ttc">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('ttc2', $event.target.value)" mdInput placeholder="ttc2">
      </md-input-container>

    </md-card-content>
  </md-card>
</div>

<div class="col-md-3">
  <!— general form elements —>
  <md-card>
    <md-card-content>
      <section>
        <md-checkbox [(ngModel)]="cb" (change)="changed('cb', cb)">cb</md-checkbox>
        <md-checkbox [(ngModel)]="cheque" (change)="changed('cheque', cheque)">cheque</md-checkbox>
        <md-checkbox [(ngModel)]="prelevement" (change)="changed('prelevement', prelevement)">prelevement</md-checkbox>
      </section>
      <section>
        <md-checkbox [(ngModel)]="le_client" (change)="changed('le_client', le_client)">le_client</md-checkbox>
      </section>
      <md-input-container>
        <input (keyup)="changed('le_client_le', $event.target.value)" mdInput placeholder="le_client_le">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('le_client_a', $event.target.value)" mdInput placeholder="le_client_a">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('le_client_signataire', $event.target.value)" mdInput placeholder="le_client_signataire">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('le_client_qualite', $event.target.value)" mdInput placeholder="le_client_qualite">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('la_societe_le', $event.target.value)" mdInput placeholder="la_societe_le">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('la_societe_a', $event.target.value)" mdInput placeholder="la_societe_a">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('la_societe_signataire', $event.target.value)" mdInput placeholder="la_societe_signataire">
      </md-input-container>

      <md-input-container>
        <input (keyup)="changed('la_societe_qualite', $event.target.value)" mdInput placeholder="la_societe_qualite">
      </md-input-container>
    </md-card-content>
  </md-card>
</div>
