<div class="col-md-6">
  <!— general form elements —>
  <md-card>
    <md-card-content>
      <md-input-container>
        <input (keyup)="changed('versions_des_logiciels', $event.target.value)" mdInput placeholder="versions_des_logiciels">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('site_web', $event.target.value)" mdInput placeholder="site_web">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('le_locataire_a', $event.target.value)" mdInput placeholder="le_locataire_a">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('le_locataire_le', $event.target.value)" mdInput placeholder="le_locataire_le">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('le_fournisseur_a', $event.target.value)" mdInput placeholder="le_fournisseur_a">
      </md-input-container>
      <md-input-container>
        <input (keyup)="changed('le_fournisseur_le', $event.target.value)" mdInput placeholder="le_fournisseur_le">
      </md-input-container>
    </md-card-content>
  </md-card>
</div>
